<% include ../views/header %>
<% include ../views/carousel %>
<% if (typeof notice !== 'undefined'){ %>
<div class="col-ms-12 text-center">
	<div class="alert alert-success" role="alert">
		<%= notice %>
	</div>     
</div>
<% } %> 

<!--<div class="jumbotron" style="background-image: url(/images/bg1.jpg); background-size: 100% 100%;">
	<div class="container">
	  <h1 class="display-3">Nature's Palette</h1>
	  <h6>An Open-Access Digital Repository of Spectral Data</h6>
	</div>
</div>-->
  <!-- Search, upload, add options
      ================================================== -->
      

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <!--<img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			-->
			<h2><i class="fa fa-search fa-3x rounded" style="color: gray;"></i></h2>
			<a style= "color:teal" href="/search"><h3>Search Data</h3></a>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="/search" role="button">View details &raquo;</a></p>
		  </div><!-- /.col-lg-4 -->
		  
          <div class="col-lg-4">
           <!-- <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		   -->
		   <h2><i class="fa fa-upload fa-3x" style="color: gray;"></i></h2>
		   <a style= "color:teal" href="/upload/startUpload"><h3>Upload Data</h3></a>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-secondary" href="/upload/startUpload" role="button">View details &raquo;</a></p>
		  </div><!-- /.col-lg-4 -->
		  
          <div class="col-lg-4">
            <!--<img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			-->
			<h2><i class="fa fa-user-plus fa-3x" style="color: gray;"></i></h2>
			<a style= "color:teal" href="#"><h3>Join</h3></a>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="/searchTerms" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
<hr>
<!--
<div class="container pt-1"> 
	<div class="row">
	  	<div class="col-md-4 text-center" >
			<div class="card bg-light text-center h-100">
				<div class="card-block" >
					<a style= "color:teal" href="/search">
					<h4 class="card-title">Search Data</h4> </a>
					<h2><i class="fa fa-search fa-3x rounded" style="color: gray;"></i></h2>
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="card bg-light text-center h-100" >
				<div class="card-block" >
					<a style= "color:teal" href="/upload/startUpload">
					<h4 class="card-title">Upload Data</h4> </a>
					<h2><i class="fa fa-upload fa-3x" style="color: gray;"></i></h2>
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center" >
			<div class="card bg-light text-center h-100">
				<div class="card-block">
					<a style= "color:teal" href="/searchTerms">
					<h4 class="card-title">Manage Search Terms</h4> </a>
					<h2><i class="fa fa-plus-square fa-3x" style="color: gray;"></i></h2>
				</div>
			</div>
		</div>
	</div>
</div>
-->

<div class="container pt-5">
		<div class="row">
			<div class="col ">
				<h4 style= "color:teal; font-weight:bold" >Why Use Nature's Palette</h4>
				<hr>
				<p align="left">• It uses curatorial pipeline that will allow researchers to easily supply their spectral data without going throughonerous data processing, a major barrier to data sharing <br>

				• It's a online repository of spectral data with advanced search functions <br>
				
				• Database services are unique to spectral data.  </p>
			</div>
		</div>
</div>
<hr>
<div class="container pt-5">
	<div class="row">
		<div class="col ">
			<h4 style= "color:darkred; font-weight:bold" >Frequently Asked Questions</h4>
			<hr>
			<p align="left"> Do you have a question about how NP works? 
			Want to learn more about NP and how you can contribute? 
			Check out the User FAQ for answers to the most common questions about NP...<a href="/questions">see more</a></p>
		</div>
	</div>
</div>


<% include ../views/footer %>
    