<% include ../views/header %>

<div class="container pt-3">
    <div class="row">
        <div class="col ">
            <h4 style="text-align: justify; font-weight:bold; color:darkred;font-weight:bold;">Freduently Asked Questions</h4>
                <hr>
                <p style="font-size: normal;text-align: left;line-height: 25px;">  
                    <h5 style="text-align: left; font-weight:bold;"># What types of data does NP accept?</h5>
                    <p>

                    </p>
                    <h5 style="text-align: left"># What are the size limits?</h5>
                    <p>

                    </p>
                    <h5 style="text-align: left"># How much does it cost?</h5>
                    <p>

                    </p>
                    <h5 style="text-align: left"># Does the data have to be associated with a publication?</h5>
                    <p>

                    </p>
                    <h5 style="text-align: left"># How should I prepare my data before submitting?</h5>
                    <p>

                    </p>
                    <h5 style="text-align: left"># When should I submit my data?</h5>
                    <p>

                    </p>                      
                    <h5 style="text-align: left"># What happens after I submit my data?</h5>
                    <p>

                    </p>
                    <h5 style="text-align: left"># How are the datasets discoverable?</h5>
                    <p style="text-align: left"> All datasets will be indexed.</p>
                    <h5 style="text-align: left"># How are the datasets preserved?</h5>
                    <p style="text-align: left"> Data deposited are permanently archived.</p>
                    <h5 style="text-align: left; font-weight:bold;"># Can I delete my data?</h5>
                    <p style="text-align: left">Data deposited in NP is intended to remain permanently archived and available. Removal of a deposited dataset is considered an exceptional action which should be requested and fully justified by the original contributor (e.g., if there are concerns over privacy or data ownership). To request the withdrawal of data from repository, contact help@dataNP.com </p>
            <br>
                </p>

        </div>
    </div>
</div>
<% include ../views/footer %>