<% include ../views/header %>


<div class="row">
    <div class="col-md-12 ">
        <form ref='startUploadForm' id='uploadForm' action="/upload" method="get">
          <fieldset>
                <h1> Submission Instructions</h1>
                <p> Submission Policy: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                <div style="display: inline-flex;">
                  <input type="checkbox" name="agree"
                         required="true">
                  <label for="agree" style="width: 115px;">I Agree</label>
                </div>
                <br>
                <button type="submit" id="" class="multi-form-submit-btn" value="Submit!">Submit</button>
            </fieldset>
        </form>
    </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <form ref='' id='uploadForm' action="" method="">
    <fieldset>
      <div class="card-body" style="background-color:white">
          <h5 style="text-align: center">Template for Reflectance metadata</h5>
          <button type="button" class="btn btn-link"><a href="/templates/FieldReflectance.csv" download>Field</a></button>
          <button type="button" class="btn btn-link"><a href="/templates/MuseumReflectance.csv" download>Museum</a></button> <br>
          <button type="button" class="btn btn-link"><a href="/templates/Field Reflectance README.txt" download>README on Field Reflectance</a></button>
          <button type="button" class="btn btn-link"><a href="/templates/Museum Reflectance README.txt" download>README on Museum Reflectance</a></button>
      </div><br><br>
      <div class="card-body" style="background-color:white">
          <h5 style="text-align: center">Template for Transmittance metadata</h5>
          <button type="button" class="btn btn-link"><a href=""><p>Field</p></a></button>
          <button type="button" class="btn btn-link"><a href=""><p>Museum</p></a></button>
      </div><br><br>
      <div class="card-body" style="background-color:white">
          <h5 style="text-align: center"><p>Template for irradiace metadata</p></h5>
          <button type="button" class="btn btn-link"><a href=""><p>Field</p></a></button>
      </div>
    </fieldset>
    </form>
  </div>
</div>
<% include ../views/footer %>